/*================ GLOBAL ====================*/
:root {
	--primary-text-color: #434455;
	--secondary-txt-color: #e7e9fc;
	--title-text-color: #2e2f42;
	--accent-color: #4d5ae5;
	--bg-color: #ffffff;
	--secondary-color: #f4f4fd;
	--btn-hover-color: #404bbf;
	--sechover-color: #31d0aa;
}
body {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	background-color: var(--bg-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
button {
	display: block;
	cursor: pointer;
	border: none;
	border-radius: 4px;
}
ul,
ol {
	list-style: none;
	padding-left: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
button {
	cursor: pointer;
}
.section {
	padding-top: 120px;
	padding-bottom: 120px;

	/* outline: 2px dashed lime; */
}
.section.no-padding-top {
	padding-top: 0;
}

.container {
	width: 1158px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;

	/* outline: 2px dashed tomato; */
}

.card-item,
.team-item {
	/* outline: 2px dashed palegreen; */
}

/* .link {
	text-decoration: none;
	color: inherit;
}
.list {
	list-style: none;
	margin: 0;
	padding: 0;
} */

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*===================== LOGO ===========================*/
.logo-link {
	display: flex;
	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accent-color);
}
.logo-name {
	color: var(--title-text-color);
}

/*======================= HEADER =======================*/
.page-header {
	box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
	background-color: var(--bg-color);

	width: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

/*===================== NAVIGATION ======================*/
.header-nav {
	display: flex;
	align-items: center;
}
.navigation {
	display: flex;
	align-items: center;
}
.nav-list {
	display: flex;
	margin-left: 77px;
}

.nav-list .nav-item:not(:last-child) {
	margin-right: 40px;
}

.nav-link {
	font-size: 16px;
	line-height: 0.66;
	letter-spacing: 0.02em;
	font-weight: 700;
	color: var(--title-text-color);
	padding-top: 31px;
	padding-bottom: 31px;
	display: block;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

.nav-link:active {
	color: var(--btn-hover-color);
}

.current {
	color: var(--btn-hover-color);
	position: relative;
}
.current::after {
	position: absolute;
	bottom: 0;
	left: 0;

	content: "";
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--btn-hover-color);
}

.nav-item {
}

.contacts-list {
	display: flex;
	margin-left: auto;
}

.contacts-link {
	font-size: 16px;
	line-height: 0.66;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	padding-top: 31px;
	padding-bottom: 31px;
	display: block;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color;
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--accent-color);
}

.contacts-list .contacts-item + .contacts-item {
	margin-left: 40px;
}

/*======================== MAIN PAGE ========================*/

/*========================== HERO ===========================*/
.hero {
	text-align: center;
	padding: 192px 0;
	height: 600px;
	max-width: 1440px;
	background-color: var(--title-text-color);
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(to right, #2e2f42b3, #2e2f42b3), url(../images/hero-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.hero-header {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;

	color: var(--bg-color);

	width: 496px;
	margin: 0 auto;
	margin-bottom: 48px;
}

.hero-button {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 0.84;
	letter-spacing: 0.04em;

	margin: 0 auto;
	color: var(--bg-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: none;
	padding: 16px 32px;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color, color;
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--btn-hover-color);
}

.hero-button:active {
	background: var(--secondary-color);
	color: var(--accent-color);
}

.backdrop {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(46, 47, 66, 0.4);
	opacity: 1;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: opacity;
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.1);
	opacity: 0;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: transform, opacity;

	background: #fcfcfc;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	width: 408px;
	height: 576px;
	padding: 24px;
}

.backdrop.is-hidden .close-modal {
	opacity: 0;
}

.close-modal {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 24px;
	height: 24px;
	margin-left: auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	fill: #000;

	opacity: 1;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 2500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
	background-color: var(--accent-color);
	fill: var(--bg-color);
	transform: rotateZ(360deg);
}

/*======================= MAIN-CONTENT ==========================*/

.section-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--title-text-color);

	margin-bottom: 8px;
}

.section-text {
	line-height: 1.5;
}

.section-header {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-align: center;
	text-transform: capitalize;
	color: var(--title-text-color);

	margin-bottom: 72px;
}

/*======================== FEATURE ========================*/

.feature-list {
	display: flex;
	margin-left: -12px;
	margin-right: -12px;
}

.feature-item {
	width: calc((100% - 24px * 3) / 4);
	margin-right: 12px;
	margin-left: 12px;
}
.feature-item .section-text {
	padding-bottom: 0;
}

.feature-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 112px;
	margin-bottom: 8px;

	border-radius: 4px;
	background-color: var(--secondary-color);
}

/*======================= WORK ==========================*/

.work {
}

.work-list {
	display: flex;
}

.work-item {
	width: calc((100% - 48px) / 3);
	margin-right: 24px;
}
.work-list .work-item:last-child {
	margin-right: 0;
}

/*=========================== TEAM ===========================*/

.team {
	background: var(--secondary-color);
}

.team-list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.team-item {
	background-color: var(--background-color);
	text-align: center;
	background: var(--bg-color);
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}

.under-card {
	padding-top: 32px;
	padding-bottom: 32px;
}

.section-text.team-position {
	margin-bottom: 12px;
}

.social-list {
	display: flex;
	gap: 24px;
	justify-content: center;
}
.social-link {
	display: flex;
	height: 40px;
	width: 40px;

	align-items: center;
	justify-content: center;

	border-radius: 50%;
	background-color: var(--accent-color);

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color;
}

.social-link:hover,
.social-link:focus {
	background-color: var(--btn-hover-color);
}

/*================== CUSTOMERS ==================*/
.customers-list {
	display: flex;
	gap: 24px;
}

.customers-link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 168px;
	height: 88px;

	border: 1px solid #8e8f99;
	border-radius: 4px;

	fill: #8e8f99;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: fill, border-color;
}

.customers-link:hover,
.customers-link:focus {
	fill: var(--accent-color);
	border-color: var(--accent-color);
}

/*======================== FOOTER ===========================*/
.logo-namef {
	color: var(--secondary-color);
}

.footer {
	background-color: var(--title-text-color);
	padding-top: 100px;
	padding-bottom: 100px;
}

.footer-text-left {
	line-height: 1.5;
	color: var(--secondary-txt-color);
	margin-top: 16px;
	max-width: 264px;
}

.footer-text-right {
	font-weight: 600;
	margin-bottom: 16px;
	line-height: 1.5;
	color: var(--secondary-txt-color);
	margin-bottom: 16px;
}

.container.footer-flex {
	display: flex;
	gap: 120px;
}

.footer-right > .social-list {
	gap: 16px;
}

.social-link.footer-social {
	background-color: rgba(255, 255, 255, 0.1);

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: background-color;
}

.social-link.footer-social:hover,
.social-link.footer-social:focus {
	background-color: var(--sechover-color);
}

/*========================== PORTFOLIO PAGE =============================*/

/*========================== FILTERS ============================*/
.filter-btn {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	font-weight: 700;

	text-align: center;
	color: var(--accent-color);
	background-color: var(--secondary-color);

	padding: 12px 24px;
	border: 1px solid var(--secondary-txt-color);
	border-radius: 4px;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: color, background-color, box-shadow, border;
}

.filter-btn:hover,
.filter-btn:focus {
	color: var(--bg-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border: 1px solid var(--accent-color);
}

.filter-btn:active {
	color: var(--bg-color);
	background-color: var(--btn-hover-color);
}

.filter-list {
	margin-bottom: 72px;
	display: flex;
	justify-content: center;
	gap: 24px;
}

/*======================= PORTFOLIO CARD ROW ====================*/

.card-list {
	display: flex;
	flex-wrap: wrap;
}

.card-item {
	width: calc((100% - 48px) / 3);
	/*! ! ! ! ! ((100% - "кол-во маржинов в строке * на значение маржина"") / кол-во элементов в строке) ! ! ! ! */

	margin-right: 24px;
	margin-bottom: 40px;

	border: 1px solid #e7e9fc;
	box-shadow: 0px 1px 6px rgb(46 47 66 / 8%);
}

.card-link {
	display: block;

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: box-shadow;
}

.card-link .under-card {
	padding-left: 16px;
}

.card-link:hover,
.card-link:focus {
	box-shadow: 4px 5px 7px rgb(46 47 66 / 8%), 3px 4px 5px rgb(46 47 66 / 16%), 1px 4px 3px rgb(46 47 66 / 8%);
}

.box {
	position: relative;
	overflow: hidden;
}
.overlay {
	position: absolute;
	transform: translateY(101%);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px 164px;

	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
	background-color: var(--accent-color);

	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-property: transform;
}
.card-link:hover .overlay,
.card-link:focus .overlay {
	transform: translateY(0);
	opacity: 0.8;
}

.card-list .card-item:nth-child(3n) {
	margin-right: 0px;
}
.card-list .card-item:nth-last-child(-n + 3) {
	margin-bottom: 0px;
}
.stylish-txt {
	color: var(--secondary-color);
}

/* .card-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 40px;
}
.card-item:not(:nth-child(3n)) {
	margin-right: 24px;
} */

.card-img {
}
